* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 標楷體, sans-serif;
  background: var(--grey-light);
  color: var(--grey-dark);
  font-size: 12px;
}
:root {
  --article-width: 350px;
}
.blogs-center {
  width: var(--fluid-width);
  margin: 0 auto;
}
img {
  height: 12rem;
  width: 100%;
  display: block;
  object-fit: cover;
}
.blog {
  background-color: white;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out all;
}
.blog-img {
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
}
.blog-content {
  padding-bottom: 1rem;
}
.blog-content span {
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}
.blog-content h3 {
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  margin: 0.5rem 0;
}
.blog-content p {
  color: var(--gray);
  margin-bottom: 0.5rem;
}
.blog-content a {
  text-transform: capitalize;
  color: var(--primary-dark);
  letter-spacing: 1px;
}
.blog:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.blog-center {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 2rem;
}
@media screen and (max-width: 450px) {
  .blog-center {
    display: flex;
    flex-direction: column;
  }
}
.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2rem;
  max-width: var(--max-width);
  margin: 0 auto;
}
